html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #EFEFEF;
}

.content {
  height: 100%;
  margin: 0 auto 60px auto;
}

.section {
  background: #fff;
  margin-bottom: 5px;
}